{% extends "index.html" %}

{% block title %} Carga de dataset {% endblock %}

{% block content %}

<body>
  <form action="cargaCompleta" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Introduce aqui tu archivo</label>
      <div class="inputfile">
        <input type="file" name="document" accept=".csv"  required/>
      </div>
      <div>
        <label for="name">Escriba el producto que quiera optimizar:</label>
        <input type="text" name="product" minlength="5" maxlength="5" size="5" required>
      </div>
      <output></output>
      <button type="submit">Subir </button>
  </form>
 
  {% endblock %}

