{% extends "index.html" %}

{% block title %} Estadísticas del modelo {% endblock %}

{% block content %}


{% if activo %}

<p> Las medidas del modelos son: </p>

<ul>
{% for key,medida in stats.items %}

&nbsp

<li><i><strong>{{key}}:&nbsp;&nbsp;&nbsp</i></strong> {{medida}} </li>

{% endfor %}
</ul>

<br>
<p>¿ Y estas medidas que representan ?, a continuación, se hará una breve explicación para el usuario.</p> 
<br>

<p><strong>R2:</strong>esta medida puede tener valor entre menos infinito y 1, en caso de obtener un valor negativo, indica que el modelo es peor que predecir la media y cuanto más se acerque a 1 mejor será su valoración.</p><br>
<p><strong>Mean square error(mse):</strong> esta variable indica la variación entre el resultado esperado y el resultado que ha devuelto el algoritmo. Cuanto mayor sea el valor, peor es el modelo. </p><br>
<p><strong>Root mean square error(rmse):</strong>Es la raiz del mse, se introduce para hacer que la escala de los errores sea igual a la escala de los objetivos. </p><br>


{% else %}

<p>Todavía no tiene acceso a este contenido</p>

{% endif %}

{% endblock %}