{% extends "index.html" %}

{% block title %} Pantalla de inicio {% endblock %}

{% block content %}
<h1>Introducción y uso de la aplicación</h1>
<br>
<p> Bienvenido a la aplicación de cuadros de mando integrales para su optimización y gestión automática.</p>
<p>Para empezar a trabajar con ella lo primero que deberá de hacer es cargar un archivo en la sección <strong>Subir dataset</strong></p>
<p>Para ello deberá de desplegar la barra de herramientas que tiene a su izquierda pulsando en el icono de la flecha</p>
<p>Solo se admiten archivo con extensión <i><strong>.csv</strong></i> y <i><strong>.xlsx</strong></i></p>
<p>Una vez cargado el dataset se habilitará la opción de <i>"Creación de CMI"</i></p>
<p>Tras crear su dashboard y salvar la plantilla cierre power BI y tendrá disponibles todas las opciones </p>
{% endblock content %}