{% extends "index.html" %}

{% block title %} Pantalla de inicio {% endblock %}

{% block content %}
<h1>Introducción y uso de la aplicación</h1>
<p> Bienvenido a la aplicación de cuadros de mando integrales para su optimización y gestión automática.</p>
<p>Para empezar a trabajar con ella lo primero que deberá de hacer es cargar un archivo en la sección <strong>Subir dataset</strong></p>
<br>
<p>Para ello deberá de desplegar la barra de herramientas que tiene a su izquierda pulsando en el icono de la flecha</p>
<br>
<p>Una vez cargado el dataset podrá usar el resto de funcionalidades</p>
{% endblock content %}