{% extends "index.html" %}

{% block title %} Pantalla de inicio {% endblock %}

{% block content %}
<h1>Introducción y uso de la aplicación</h1>
<br>
<p> Bienvenido a la aplicación de cuadros de mando integrales para su optimización y gestión automática.</p>
<p>Para empezar a trabajar con ella lo primero que deberá de hacer es cargar un archivo<i><strong>(Dataset tabulado formato xlsx)</strong></i> en la sección <strong>Subir dataset</strong></p>
<p>Para ello deberá de desplegar la barra de herramientas que tiene a su izquierda pulsando en el icono de la flecha</p>

<p>Una vez cargado el dataset se habilitarán el resto de opciones</i></p>
{% endblock content %}